<h1>Toplantı Katılım Listesi</h1>
<table>
    <thead>
        <tr>
            <td>Ad</td>
            <td>Email</td>
            <td>Katılım Durumu</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cengizhan Köser</td>
            <td>cengizhankoser@gmail.com</td>
            <td>Evet</td>
            <td>
                <a href="">Detay</a>
            </td>
        </tr>
        <tr>
            <td>Fatih Köser</td>
            <td>fatihkoser@gmail.com</td>
            <td>Evet</td>
            <td>
                <a href="">Detay</a>
            </td>
        </tr>
    </tbody>
</table>